
<main role="main">
  <div class="jumbotron" >
    <div class="container">
      <h1 class="display-3">picblog</h1>
      <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
      <p><%= link_to "Sign up »",new_user_registration_path,class: "btn btn-primary btn-lg", method: 'get'%></p>
    </div>
  </div>

<div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <% @blog.each do |blog| %>
            <%= render partial: "blog",locals:{blog: blog} %>
        <% end %>
       </div>
       <%= paginate(@blog) %>
    </div>
</div>
    <hr>
</main>

