// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card-text{
  font-size:24px;
}

.blog-content{
  width:1200px;
  height:1200px;
  margin:0 auto;
  z-index:1;
}

.blog-content__left{
  width:200px;
  display:inline-block;
  float:left;
  position:fixed;
}

.blog-content__left-btn{
  display:block;
  width:60px;
  height:60px;
  border-radius:30px;
  background-color:rgba(117,117,117,0.5);
  padding:0.25em 0.5em;
  text-decoration:none;
  color:#FFFFFF;
  border-bottom: solid 2px rgba(117,117,117,0.8);
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2),0 2px 2px rgba(0,0,0,0.19);
  font-weight:bold;
  text-align:center;
  line-height:50px;
  margin:0 auto;
  margin-top:50px;
}
.blog-content__left-btn-el{
  color:#FFFFFF;
}

.blog-content__left-btn:active{
  border-bottom:solid 2px rgba(117,117,117,0.5);
  box-shadow:0 0 2px rgba(0,0,0,0.30);
  text-decoration:none;
  color:#FFFFFF;
}

.blog-content__right{
  width:1000px;
  height:1200px;
  display:inline-block;
  float:right;
}

.blog-content__user{
  width:600px;
  height:150px;
  position:relative;
}

.blog-content__user__image{
  width:80px;
  height:80px;
  border-radius:10px;
  background-color:gray;
  display:inline-block;
  position:absolute;
  top:35px;
  left:20px;
}

.blog-content__user h3{
  display:inline-block;
  line-height:150px;
  position:absolute;
  left:120px;
}

.blog-content__main{
  width:1000px;
}

.blog-content__main__title{
  width:900px;
  border-bottom: solid 2px gray;
  margin:0 auto;
  padding-top:20px;
}

.key-vidual{
  padding-top:20px;
  padding-bottom:20px;
  border-bottom: solid 2px gray;
  width:900px;
  height:500px;
  margin:0 auto;
}

.blog-content__main__column{
  padding-top:20px;
  width:900px;
  margin:0 auto;
}

input[id=title]{
  width:600px;
}

.blog-form{
  display:inline-block;
  margin-left:50px;
}

.column-preview{
}

.column-form{
  display:inline-block;
}

.column-preview__is_active{
  height:480px;
  width:800px;
  margin-left:30px;
  border: solid 1px gray;
  display:inline-block;
  overflow:scroll;
}
